listening-port=3478
tls-listening-port=5349
realm={{ matrix_domain }}
fingerprint
use-auth-secret
static-auth-secret={{ coturn_secret }}
external-ip={{ server_public_ip }}
min-port=49152
max-port=65535
